# Realizado por Daniel Rodriguez Amezaga

# Ejercicio final de la clase 4

In [72]:
import psycopg2
import pandas as pd
from psycopg2 import sql
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

# PASO 1 | Conexión a la BBDD

In [73]:
conn = psycopg2.connect("host=db dbname=actividad user=postgres password=postgres")

In [74]:
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

In [75]:
curr = conn.cursor()

# Paso 2 | Creación de una BBDD

In [76]:
try:
    curr.execute(sql.SQL("CREATE DATABASE {};").format(
        sql.Identifier("avtividad")))
except psycopg2.Error as e:
    print("Error en la creación BBDD; %s" % str(e))

# Paso 3 | Creación de las Tablas

In [77]:
curr.execute("CREATE TABLE edición(ID_edic integer NOT NULL,Numero character(80) NOT NULL);")
curr.execute("CREATE TABLE notas(ID_notas integer NOT NULL,Name character varying NOT NULL,Edad integer NOT NULL,Notas numeric NOT NULL,ID_edic integer NOT NULL);")

# Paso 4 | Insertar valores a las tablas

In [78]:
#EInsertar datos en tabla edicion
curr.execute("INSERT INTO edición VALUES(1,'Uno');")
curr.execute("INSERT INTO edición VALUES(2,'Dos');")
curr.execute("INSERT INTO edición VALUES(3,'Tres');")

#Insertar datos en tabla notas
curr.execute("INSERT INTO notas VALUES(1, 'Isabel Maniega', 30, 5.6, 1);")
curr.execute("INSERT INTO notas VALUES(2, 'José Manuel Peña', 30, 7.8, 1);")
curr.execute("INSERT INTO notas VALUES(3, 'Pedro López', 25, 5.2, 2);")
curr.execute("INSERT INTO notas VALUES(4, 'Julia García', 22, 7.3, 1);")
curr.execute("INSERT INTO notas VALUES(5, 'Amparo Mayora', 28, 8.4, 3);")
curr.execute("INSERT INTO notas VALUES(6, 'Juan Martínez', 30, 6.8, 3);")
curr.execute("INSERT INTO notas VALUES(7, 'Fernando López', 35, 6.1, 2);")
curr.execute("INSERT INTO notas VALUES(8, 'María Castro', 41, 5.9, 3);")

conn.commit()

<img src="capturas/ver_tabla_edicion.png">
<img src="capturas/ver_tabla_notas.png">

# Actualizar datos CMD y Adminer

In [83]:
curr.execute("UPDATE Notas SET id_notas='3',Name='PEdro López',Edad='25',Notas='6.4',ID_edic='2' WHERE ID_notas='3';")

In [85]:
curr.execute("UPDATE Notas SET ID_notas='8',Name='María Castro',Edad='41',Notas='5.2',ID_edic='3' WHERE ID_notas='8';")

<img src="capturas/modificar_notas1.png">
<img src="capturas/modificar_notas2.png">
<img src="capturas/ver_notas_actualizadas.png">

# Busquedas en la base de datos

In [86]:
curr.execute("SELECT * FROM Notas WHERE 'Notas' >= '5' and 'Notas' <='6.5' ORDER BY Notas;")

In [87]:
curr.execute("SELECT * FROM Notas WHERE 'ID_edic' = '2' ORDER BY Notas;")

<img src="capturas/buscar_notas_5_6.png">
<img src="capturas/buscar_alum_edic_2.png">

# Eliminar alumno Pedro

In [88]:
curr.execute("DELETE FROM Notas WHERE (('ID notas' = '3'));")

<img src="capturas/del_pedro.png">

# Paso Final | Cerrar la conexión

In [89]:
curr.close()
conn.close()